@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');


body {
  font-family: 'Crimson Text', serif;
}

button {
  font-family: 'Crimson Text', serif;
}

#problemArea {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#problemArea h1 {
  letter-spacing: 0.05em;
  font-size: 7vw;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#inputButtons {
  width: var(button-width);
}

#nextButton {
  width: calc(var(button-width)*2);
}
