@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

a {
  text-decoration: none;
}

h1 {
  color: #333;
  font-family: 'Playfair Display', serif;
  font-size: 7vw;
  letter-spacing: 4px;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#encode:hover h1,
#decode:hover h1 {
  border-bottom-color: currentColor;
}

#encode, #decode {
    cursor: pointer;
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center content */
    align-items: center; /* Horizontally center content */
    background-color: #aaa;
}
