@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

h1 {
  color: #333;
  /* ^^^ I'm split on whether this should be #333 or #222 sdf*/
  font-family: 'Crimson Text', serif;
  font-size: 7vw;
  font-weight: normal;
  cursor: pointer;
  box-sizing: content-box;
  user-select: none;
  border-bottom: 10px solid transparent;
  transition: all 0.1s ease;
}

#logo {
  position: fixed;
  bottom: 15px;
  width: 200px;
}

h1:hover {
  text-decoration:underline;
  text-decoration-thickness: 5px;
  text-shadow: currentColor 0 0 170px;
}

h1:active {
  transform: scale(0.95);
}

#encode {
  background-color: #e0e0e0;
}

#decode {
  background-color: #fefefe;
}

#encode, #decode {
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center content */
    align-items: center; /* Horizontally center content */
}
